main h1{
    display: flex;
    justify-content: center;

    margin-bottom: 72px;
}

.section{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.section section{
    align-items: center;
    height: 240px;
    width: 240px;
    border: 3px solid black;
    background: white;
}