main h1 {
    display: flex;
    justify-content: center;

    margin-bottom: 72px;
}

.section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.section section {
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 240px;
    border: 3px solid black;
    background: white;
    padding: 16px;
}

.section section h2 {
    margin-bottom: 12px;
    white-space: nowrap;
    /* 글자 세로 깨짐 방지 */
}


.slider-wrap {
    flex: 1;
    width: 100%;
}

.callback-slider {
    height: 100%;
}

.callback-slider .swiper-wrapper {
    height: 100%;
}

.callback-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-slider .swiper-slide a {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.slider-wrap {
    flex: 1;
    width: 100%;
}

.swiper {
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}